body{
    text-align: center;
    background-color: dimgray;
}

body.center {
    text-align: center;
}


/* Creates a table for each comment*/
#hello{
    border: 1px solid cornflowerblue;
    float: center;
    margin: auto;
    background-color: floralwhite;
    text-align: center;
    padding: auto;
}



table {
    text-align: center;
    margin: auto;
    font-family: "Archivo Black", "Archivo", sans-serif;
}

/* Button for clicking */
.button{
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: black;


  }