
/* Background */
body {
    display: auto;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    background-image: url(Pics/2mad.jpg);
    filter: contrast(2000%);
    background-size: cover;
  }
  
  /* Styling for buttons*/
  input[type=submit] { 
      width: 70px; height: 75px;
    background-image: url(Pics/Andrew.png);
    border: none;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    align-self: auto;
    cursor: url(Pics/UwU.PNG), auto;
  }

