
/* Background */
body {
    text-align: center;
    background-color: lightblue;
    
  }
  

  h1 {
    text-transform: uppercase;
    border-radius: 35px;
    background: black;
    width: 100%;
    color: white;
    padding: 0px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2px;
    font-weight: bold; 
    position: relative;
  }

  h1 input[type=submit] {
    float: none;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }  
  
  /* Styling for buttons*/
  input[type=submit] { 
    color: white;
    border: white solid;
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    text-align: right;
    width: 100px;
  }
