
/* Background */
body {
    display: fill;
    align-items: center;
    justify-content: center;
    float: center;
    text-align: center;
    background-color: lightblue;
    background-image: url(Pics/2mad.PNG);
    background-size: 100%;
  }
  
  /* Styling for buttons*/
  input[type=submit] { 
      width: 70px; height: 75px;
    background-image: url(Pics/facemad.PNG);
    border: none;
    background-size: 100%;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    align-self: auto;
    cursor: url(Pics/UwU.PNG), auto;
    color: white;
  }

  input[type=submit]:hover {
    opacity: 0.5;
  }

  h1 {
    color: white;
  }