
/* Background */
body {
  align-items: center;
  justify-content: center;
  overflow-y: scroll; /* Add the ability to scroll */
  background-image: url(Pics/images.png);
  padding: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}


/* Style for secondary text*/
h3{
  text-transform: uppercase;
  display: block;
  margin: calc(25vh - 15rem) auto;
  text-align: center;
  border-radius: 35px;
  background: black;
  width: auto;
  height: fill;
  font-family: times, Times New Roman, times-roman, georgia, serif;
	padding: 0px;
	font-size: 69px;
	line-height: 69px;
	letter-spacing: -2px;
  font-weight: bold; 
  color: white;
}

/* Style for main text*/
h2 {
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  width: 100px;
  max-width: 80vw;
  min-height: 50px;
  height: auto;
  text-align: top;
  margin: 10rem auto;
  margin: calc(50vh - 5rem) auto;
  
}



input[type=submit] {
  color: white;
  border: white solid;
  padding: 5px;
  border-radius: 4px;
  background-color: black;
  text-align: center;
  float: right;
  margin-top: -65px;
}

.column{
  width: calc(30% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  display:block;
  position:relative;
  float:left;
  padding: 25px;
}
.column img{
  width: 100%;
  height: 400px;
  transition-duration: .1s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  margin: 40px;
  cursor:pointer;
  border: black solid;
  float: left;
  border-radius: 15px;
  padding: 0px; 
}

/* Headers for each img description*/ 
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .1s;
}

/* Text color,style and other for the discripction */
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .1s;
  transform: translate(-50%, -50%);
}

/* Animates a transparent cover over the images */
.column:hover img{
  transform: scale(1);
  transition-duration: .1s;
  filter: grayscale(90%);
  opacity: 1;
}


/* Animates a white text with transparency */
.column:hover span{
  color:white;
  display: block;
  transition-duration: .1s;
}

/* display text when cursor hover over img*/
@media only screen and (max-width: 900px) {
    .column {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}

