<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='comment.css')}}">
    <title>Comments</title>
</head>
<body>
        <form action='/home'>
            <input type='submit' value='Home'>
        </form>

        <form action='/add/{{ id }}' method="POST">
                    <h5>Enter Comment</h5>
            <input type="text" name="Comment">
            <input type="hidden" name="FoodID" value="{{ id }}">
            <input class="button" type="submit" value="add">
        </form>
        
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    
        <table>
                <tr>
                   <th><h2>Comments</h2></th>
                </tr>
                {% for item in results %}
                <tr>
                    <td>{{ item[0] }}</td>
                </tr>
                
                <td>
                    <form action="/delete/{{ id }}" method="post">
                    <input type="hidden" name="CommentID" value="{{ item[1] }}"> 
                    <input class="button" type="submit" value="delete">
                    </form>
                </td>
                
                {% endfor %}
        </table>
        
</body>
</html>