<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the shop</title>
</head>
<body>
    <h1>Working progress</h1>
    <div class="container">
        
        <form action="/login">
        <br>
        <input type='submit' value='Login'>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        </form>

        <form action="/logout">
        <br>
        <input type="submit" value='Logout'>
        <br>
        </form>
    </div>

    
    <h3>Menu</h3>
    <br><table>
        <tr>
           <th>Name</th>
           <th>Description</th>
           
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            
            
      </tr>
        {% endfor %}
    

        </table>
        <table>
            <tr>
                <th>Comments</th>
            </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ comment[0] }}</td>  
             
        <td>
            <form action="/delete" method="post">
            <input type="hidden" name="item_name" value="{{comment[1]}}"> 
            <input type="submit" value="delete">
            </form>
        </td>
        </tr>
        {% endfor %}

        </table>
        <form action="/add" method="post">
            <h2>Enter Comment</h2>
            <input type="text" name="Comment">
            <input type="submit" value="add">
            </form>

</body>
</html>