<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Welcome to the shop</title>
</head>
<body>
    <h3>WELCOME TO SHOP</h3>
    <div class="Login_container">

        <form action="/login">
        <br>
        <input type='submit' value='Admin Login'>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        </form>

        <form action="/logout">
        <br>
        <input type="submit" value='Logout'>
        <br>
        </form>
    </div>

    <div class="row">
        <a href="/fill/1">
        <div class="column">
            <img  src="/static/Pics/Cheesus.PNG" alt="Dino" >
            <span class="title">Cheesus</span>
            <span class="text">Half wheel of molten buttery cheese made from homosapien oil and Mooo milk. It has been fermented for 2 months under mint conitions giving it a hardy smooth taste. </span>
        </div></a>

        <a href="/fill/2">
        <div class="column">
            <img src="/static/Pics/filler.png" alt="Dino">
            <span class="title">KoFu</span>
            <span class="text">Kofu crafted out of pure love, OwO, and nuzzles. It's dazzled with sweet stwarbewwibewwi juice and topped with Luv. (<3)</span>
        </div></a>
         
        <a href="/fill/3">
        <div class="column">
            <img src="/static/Pics/images.jpg" alt="Dino">
            <span class="title">Kimchi Burger</span>
            <span class="text">Home crafted, yummy Kimchi roasted with young fresh wagyu beef on wood fire furnace. It's fitted with toasted humus buns and dressed with a selection of secret sauces  </span>
        </div></a>
        
        <a href="/fill/4">
            <div class="column">
                <img src="/static/Pics/images.jpg" alt="Dino">
                <span class="title">Who-man food </span>
                <span class="text">Whooo, Hooo.... WHHooo, OooooHHW....</span>
            </div></a>
        
        <a href="/fill/5">
            <div class="column">
                <img src="/static/Pics/images.jpg" alt="Dino">
                <span class="title">K.F.K.(Kevin Fried Khicken)</span>
                <span class="text">First rate chief Kevin deep fired in hot fresh olive oil by our chief Khicken....</span>
            </div></a>
    
        <a href="/fill/6">
            <div class="column">
                <img src="/static/Pics/2mad2.PNG" alt="Dino">
                <span class="title">Souls of Dead Children</span>
                <span class="text">After a few minutes on consumption, the souls of various dead children will attempt to haunt the consumer. Health and Safety not responsible (Read TOS)  </span>
            </div></a>

</div>
</body>
    
</html>