<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Welcome to the shop</title>
</head>
<body>
    <h3>Vacation Time</h3>
    <div class="Login_container">

        <form action="/login">
        <input type='submit' value='Admin Login'>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        </form>

        <form action="/logout">
        <br>
        <input type="submit" value='Logout'>
        </form>
    </div>
        
    <div class="row">
            {% for item in results %}
            <a href="/fill/{{item[3]}}">
            <div class="column">
                <img  src="/static/Pics/{{item[2]}}" alt="{{item[2]}}" >
                <span class="title">{{item[0]}}</span>
                <span class="text">{{item[1]}} </span>
            </div></a>
            {% endfor %}
        </div>
            
        

</div>
</body>
    
</html>